# Minimal seed for Tenda BE12 Pro CI
# Base: chasey-dev/immortalwrt-mt798x-rebase @ 25.12-dev-wifi7
#        defconfig/low-mem-512m/mt7987-mt7992-be7200.config
# Adapted: single-device tenda_be12-pro (dropped MULTI_PROFILE / routerich_be7200)
# Date: 2026-07-18

CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_tenda_be12-pro=y

#######################################################################
#                         BUILDROOT KCONFIG                           #
#######################################################################

CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_AFALG_UPDATE_CTR_IV=y
CONFIG_BUSYBOX_CONFIG_BLKID=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_BUSYBOX_CONFIG_VOLUMEID=y
CONFIG_INCLUDE_CONFIG=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
CONFIG_OPENSSL_WITH_NPN=y

#######################################################################
#                            KMODS                                    #
#######################################################################

CONFIG_PACKAGE_kmod-ata-core=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-md4=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-ebtables=y
CONFIG_PACKAGE_kmod-ebtables-ipv4=y
CONFIG_PACKAGE_kmod-ebtables-ipv6=y
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_kmod-ipt-compat-xtables=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-hashlimit=y
CONFIG_PACKAGE_kmod-ipt-iface=y
CONFIG_PACKAGE_kmod-ipt-ipmark=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-ipv4options=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-ipt-proto=y
CONFIG_PACKAGE_kmod-ipt-raw6=y
CONFIG_PACKAGE_kmod-ipt-tee=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-ipt-u32=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-zram=y

#######################################################################
#                            PACKAGES                                 #
#######################################################################

CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_ebtables-nft=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y
CONFIG_PACKAGE_iptables-mod-hashlimit=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
CONFIG_PACKAGE_iptables-mod-tee=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-u32=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo-ucode=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcbor=y
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libfido2=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_libnl-core=y
CONFIG_PACKAGE_libnl-genl=y
CONFIG_PACKAGE_libnl-nf=y
CONFIG_PACKAGE_libnl-route=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_zram-swap=y

#######################################################################
#                          MTK SDK KMODS                              #
#######################################################################

CONFIG_PACKAGE_kmod-mediatek_hnat=y
CONFIG_PACKAGE_kmod-warp=y
CONFIG_PACKAGE_kmod-mt_wifi7=y
CONFIG_PACKAGE_kmod-mt_wifi_osal=y
CONFIG_PACKAGE_kmod-mt_hwifi=y
CONFIG_PACKAGE_kmod-mtk_pci=y
CONFIG_PACKAGE_kmod-connac_if=y
CONFIG_PACKAGE_kmod-mt7992=y
# CONFIG_PACKAGE_kmod-mt7992_dbg is not set
# CONFIG_PACKAGE_kmod-mt799a is not set

#######################################################################
#                          MTK SDK KCONFIG                            #
#######################################################################

CONFIG_WARP_CONFIG_MODE=1
CONFIG_WARP_VERSION="3_1"
CONFIG_WARP_CHIPSET="mt7987"
CONFIG_WARP_DBG_SUPPORT=y
CONFIG_MTK_HWIFI_PCI_SUPPORT=y
CONFIG_MTK_HWIFI_CONNAC_IF_SUPPORT=y
CONFIG_MTK_HWIFI_WED_SUPPORT=y
CONFIG_MTK_HWIFI_MT7992=y
CONFIG_MTK_HWIFI_MT7992_RRO_MODE=5
# shrink WARP memory reserved for 1-PCIe
CONFIG_MTK_HWIFI_MT7992_OPTION_TYPE=5
# shrink ring buffer length to actual size, unset for fixed 65536
CONFIG_WARP_BM_SHRINK_RING=y
CONFIG_MTK_HWIFI_MT7992_INTR_OPTION_SET=0
# hwifi shrink option
CONFIG_MTK_HWIFI_MEM_SHRINK=y
# CONFIG_MTK_HWIFI_MT799A is not set
CONFIG_MTK_WIFI7_MT_WIFI=m
CONFIG_MTK_WIFI7_SUPPORT_OPENWRT=y
CONFIG_MTK_WIFI7_DRIVER=y
CONFIG_MTK_WIFI7_MT_WIFI_PATH="mt_wifi"
CONFIG_MTK_WIFI7_MODE_AP=m
CONFIG_MTK_WIFI7_MT_AP_SUPPORT=m
CONFIG_MTK_WIFI7_UNIFIED_COMMAND=y
CONFIG_MTK_WIFI7_DOT11_N_SUPPORT=y
CONFIG_MTK_WIFI7_DOT11_AX_SUPPORT=y
CONFIG_MTK_WIFI7_DOT11_BE_SUPPORT=y
CONFIG_MTK_WIFI7_MT_MAC=y
CONFIG_MTK_WIFI7_HWIFI_SUPPORT=y
CONFIG_MTK_WIFI7_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_WIFI7_SECOND_IF_RF_OFFSET=0xc8000
CONFIG_MTK_WIFI7_RT_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_WIFI7_RT_SECOND_IF_RF_OFFSET=0xc8000
CONFIG_MTK_WIFI7_RT_THIRD_IF_RF_OFFSET=0xd0000
CONFIG_MTK_WIFI7_FIRST_IF_EEPROM_FLASH=y
CONFIG_MTK_WIFI7_MULTI_INF_SUPPORT=y
CONFIG_MTK_WIFI7_BASIC_FUNC=y
CONFIG_MTK_WIFI7_DOT11_VHT_AC=y
CONFIG_MTK_WIFI7_DOT11_HE_AX=y
CONFIG_MTK_WIFI7_DOT11_EHT_BE=y
CONFIG_MTK_WIFI7_WIFI_TWT_SUPPORT=y
CONFIG_MTK_WIFI7_DBDC_MODE=y
CONFIG_MTK_WIFI7_CFG_SUPPORT_FALCON_MURU=y
CONFIG_MTK_WIFI7_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_MTK_WIFI7_CFG_SUPPORT_FALCON_SR=y
CONFIG_MTK_WIFI7_CFG_SUPPORT_FALCON_PP=y
CONFIG_MTK_WIFI7_G_BAND_256QAM_SUPPORT=y
CONFIG_MTK_WIFI7_TPC_SUPPORT=y
CONFIG_MTK_WIFI7_ICAP_SUPPORT=y
CONFIG_MTK_WIFI7_SPECTRUM_SUPPORT=y
CONFIG_MTK_WIFI7_BACKGROUND_SCAN_SUPPORT=y
CONFIG_MTK_WIFI7_SMART_CARRIER_SENSE_SUPPORT=y
CONFIG_MTK_WIFI7_SCS_FW_OFFLOAD=y
CONFIG_MTK_WIFI7_MT_DFS_SUPPORT=y
CONFIG_MTK_WIFI7_OFFCHANNEL_SCAN_FEATURE=y
CONFIG_MTK_WIFI7_HDR_TRANS_TX_SUPPORT=y
CONFIG_MTK_WIFI7_HDR_TRANS_RX_SUPPORT=y
CONFIG_MTK_WIFI7_WSC_INCLUDED=y
CONFIG_MTK_WIFI7_WSC_V2_SUPPORT=y
CONFIG_MTK_WIFI7_DOT11W_PMF_SUPPORT=y
CONFIG_MTK_WIFI7_TXBF_SUPPORT=y
CONFIG_MTK_WIFI7_FAST_NAT_SUPPORT=y
CONFIG_MTK_WIFI7_WLAN_HOOK=y
CONFIG_MTK_WIFI7_WHNAT_SUPPORT=m
CONFIG_MTK_WIFI7_WARP_V2=y
CONFIG_MTK_WIFI7_RTMP_FLASH_SUPPORT=y
CONFIG_MTK_WIFI7_CAL_BIN_FILE_SUPPORT=y
CONFIG_MTK_WIFI7_ATE_SUPPORT=y
CONFIG_MTK_WIFI7_WLAN_SERVICE=y
CONFIG_MTK_WIFI7_PASSPOINT_R2=y
CONFIG_MTK_WIFI7_MBO_SUPPORT=y
CONFIG_MTK_WIFI7_OCE_SUPPORT=y
CONFIG_MTK_WIFI7_FTM_SUPPORT=y
CONFIG_MTK_WIFI7_EAP_QUICK_CHANNEL_SWITCH_WITHOUT_CSA=y
CONFIG_MTK_WIFI7_CFG80211_SUPPORT=y
CONFIG_MTK_WIFI7_CFG80211_FULL_OPS_SUPPORT=y
CONFIG_MTK_WIFI7_HOSTAPD_MBSS_SUPPORT=y
CONFIG_MTK_WIFI7_APCLI_SUPPLICANT_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_SUPPORT=y
CONFIG_MTK_WIFI7_MAP_R2_VER_SUPPORT=y
CONFIG_MTK_WIFI7_UAPSD=y
CONFIG_MTK_WIFI7_HIGH_PRIO_QUEUE_SUPPORT=y
CONFIG_MTK_WIFI7_CTXD_MEM_CPY_SUPPORT=y
CONFIG_MTK_WIFI7_OSAL_SUPPORT=y
CONFIG_MTK_WIFI7_RTMP_PCI_SUPPORT=y
CONFIG_MTK_WIFI7_WDS_SUPPORT=y
CONFIG_MTK_WIFI7_MBSS_SUPPORT=y
CONFIG_MTK_WIFI7_APCLI_SUPPORT=y
CONFIG_MTK_WIFI7_APCLI_CERT_SUPPORT=y
CONFIG_MTK_WIFI7_MAC_REPEATER_SUPPORT=y
CONFIG_MTK_WIFI7_MWDS=y
CONFIG_MTK_WIFI7_MUMIMO_SUPPORT=y
CONFIG_MTK_WIFI7_MU_RA_SUPPORT=y
CONFIG_MTK_WIFI7_DOT11R_FT_SUPPORT=y
CONFIG_MTK_WIFI7_DOT11K_RRM_SUPPORT=y
CONFIG_MTK_WIFI7_MLME_MULTI_QUEUE_SUPPORT=y
CONFIG_MTK_WIFI7_EAP_FEATURE=y
CONFIG_MTK_WIFI7_VLAN_SUPPORT=y
CONFIG_MTK_WIFI7_ANTENNA_CONTROL_SUPPORT=y
CONFIG_MTK_WIFI7_MGMT_TXPWR_CTRL=y
CONFIG_MTK_WIFI7_RA_PHY_RATE_SUPPORT=y
CONFIG_MTK_WIFI7_AMPDU_CONF_SUPPORT=y
CONFIG_MTK_WIFI7_ACK_CTS_TIMEOUT_SUPPORT=y
CONFIG_MTK_WIFI7_TX_LATENCY_SUPPORT=y
CONFIG_MTK_WIFI7_DSCP_PRI_SUPPORT=y
CONFIG_MTK_WIFI7_QOS_R1_SUPPORT=y
CONFIG_MTK_WIFI7_CON_WPS_SUPPORT=y
CONFIG_MTK_WIFI7_MCAST_RATE_SPECIFIC=y
CONFIG_MTK_WIFI7_BAND_STEERING=y
CONFIG_MTK_WIFI7_GREENAP_SUPPORT=y
CONFIG_MTK_WIFI7_PCIE_ASPM_DYM_CTRL_SUPPORT=y
CONFIG_MTK_WIFI7_AIR_MONITOR=y
CONFIG_MTK_WIFI7_WNM_SUPPORT=y
CONFIG_MTK_WIFI7_INTERWORKING=y
CONFIG_MTK_WIFI7_WPA3_SUPPORT=y
CONFIG_MTK_WIFI7_OWE_SUPPORT=y
CONFIG_MTK_WIFI7_RSNO_SUPPORT=y
CONFIG_MTK_WIFI7_SINGLE_SKU=y
CONFIG_MTK_WIFI7_TR181_SUPPORT=y
CONFIG_MTK_WIFI7_CSI_SUPPORT=y
CONFIG_MTK_WIFI7_IGMP_SNOOP_SUPPORT=y
# CONFIG_MTK_WIFI7_RED_SUPPORT is not set
# CONFIG_MTK_WIFI7_VOW_SUPPORT is not set
# CONFIG_MTK_WIFI7_RTMP_WLAN_HOOK_SUPPORT is not set
CONFIG_MTK_WIFI7_FIRST_IF_IPAILNA=y
CONFIG_MTK_WIFI7_SECOND_IF_EPAELNA=y
CONFIG_MTK_WIFI7_CHIP_MT7992=y
CONFIG_MTK_WIFI7_FIRST_IF_MT7992=y
CONFIG_MTK_WIFI7_SECOND_IF_MT7992=y
CONFIG_MTK_WIFI7_THIRD_IF_NONE=y
CONFIG_MTK_WIFI7_MULTI_PROFILE_SUPPORT=y
CONFIG_MTK_WIFI7_SKU_TYPE="BE7200"
CONFIG_MTK_WIFI7_FW_LOG_TYPE="string_log"
CONFIG_first_card=y
CONFIG_first_card_name="MT7992"
CONFIG_first_card_profile_path="/etc/wireless/mediatek/mt7992.1.dat"
CONFIG_first_card_init_script="/lib/wifi/mtwifi.lua"
CONFIG_first_card_init_compatible="mtwifi"
CONFIG_first_card_EEPROM_offset="0x0"
CONFIG_first_card_EEPROM_size="0x15c000"
CONFIG_first_card_EEPROM_name="e2p"
CONFIG_first_card_EEPROM_def_bin_path="/lib/firmware/MT7992_EEPROM.bin"
CONFIG_first_card_main_ifname="ra0;rai0"
CONFIG_first_card_ext_ifname="ra;rai"
CONFIG_first_card_wds_ifname="wds;wdsi"
CONFIG_first_card_apcli_ifname="apcli;apclii"
CONFIG_first_card_mesh_ifname="mesh;meshi"
CONFIG_first_card_nvram_zone="dev00;dev01"
CONFIG_first_card_single_sku_path="/rom/etc/wireless/mediatek/mt7992-sku.dat"
CONFIG_first_card_bf_sku_path="/rom/etc/wireless/mediatek/mt7992-sku-bf.dat"
# CONFIG_second_card is not set
# CONFIG_third_card is not set

#######################################################################
#                          MTK SDK PACKAGES                           #
#######################################################################

CONFIG_PACKAGE_mwctl=y
CONFIG_PACKAGE_datconf=y
CONFIG_PACKAGE_ucode-mod-datconf=y
CONFIG_PACKAGE_ucode-mod-l1parser=y
CONFIG_PACKAGE_mtkhnat_util=y
CONFIG_PACKAGE_mtwifi-cfg-ucode=y
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_wifi-profile=y
# CONFIG_WIFI_SCRIPT_SUPPORT is not set
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_hostapd-utils=y
CONFIG_PACKAGE_wpa-cli=y
