CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_ca-certificates=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_dockerd=m
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libseccomp=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-systools=m
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-systools-zh-cn=m
CONFIG_PACKAGE_luci-lib-docker=m
CONFIG_PACKAGE_luci-lib-iform=y
CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_speedtestcli=y
CONFIG_PACKAGE_tini=y
