CONFIG_NSS_DRV_C2C_ENABLE=y
CONFIG_NSS_DRV_DTLS_ENABLE=y
CONFIG_NSS_DRV_GRE_REDIR_ENABLE=y
CONFIG_NSS_DRV_GRE_TUNNEL_ENABLE=y
CONFIG_NSS_DRV_IPSEC_ENABLE=y
CONFIG_NSS_DRV_IPV4_REASM_ENABLE=y
CONFIG_NSS_DRV_IPV6_REASM_ENABLE=y
CONFIG_NSS_DRV_OAM_ENABLE=y
CONFIG_NSS_DRV_PORTID_ENABLE=y
CONFIG_NSS_DRV_QRFS_ENABLE=y
CONFIG_NSS_DRV_QVPN_ENABLE=y
CONFIG_NSS_DRV_RMNET_ENABLE=y
CONFIG_NSS_DRV_SJACK_ENABLE=y
CONFIG_NSS_DRV_TLS_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_ENABLE=y
CONFIG_NSS_DRV_TRUSTSEC_RX_ENABLE=y
CONFIG_NSS_DRV_TSTAMP_ENABLE=y
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
